@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* .box_body {
	display: flex;
	height: 100vh;
	width: 100%;
	/* width: 100vw; */
	background: url(../../image/NewBG1.png);
	/* background-color: goldenrod; */
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.box_banner {
	display: flex;
	position: absolute;
	/* margin-bottom: 500px; */
	justify-content: center;
	align-items: center;
	/* width: 50px; */
	/* background-color: aqua; */
}

.box_banner img {
	display: flex;
	justify-content: center;
	align-items: center;

	/* margin-bottom: 10px; */
}




.box_hader_login p {
	width: 74px;
	height: 36px;

	/* Medium/Heading 3 */

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 36px;
	/* margin-bottom: 74px; */
	/* identical to box height, or 129% */

	display: flex;
	align-items: center;

	/* Text/Black */

	color: #333333;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;

}

.box_input {
	display: flex;
	/* background-color: aqua; */
	/* margin-bottom: 50px; */
	margin-top: 20px;

}

.box_input form input {
	/* display: flex; */
	width: 80%;
	/* margin-left: 30px; */
	/* text-align: center; */
	/* background-color: #0B539E; */

}

.box_icon {
	display: flex;
	/* margin-bottom: 30px; */
	margin-top: 17px;
	margin-left: 15px;
	width: 10%;
	padding: 8px;
	position: absolute;
	/* justify-content: space-between; */
	/* height: 50%; */
	/* gap: 30px; */
	/* width: ; */
	/* background-color: #274C77; */
	border-bottom: 1px solid gray;

	/* flex-direction: column; */
}

.box_icon_pass {
	display: flex;
	/* margin-bottom: 30px; */
	margin-top: 17px;
	margin-left: 15px;
	width: 10%;
	padding: 8px;
	position: absolute;
	/* justify-content: space-between; */
	/* height: 50%; */
	/* gap: 30px; */
	/* width: ; */
	/* background-color: #274C77; */
	border-bottom: 1px solid gray;
	/* flex-direction: column; */
}



.box_card {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 64px 32px;

	position: absolute;
	width: 960px;
	height: 674px;

	/* BG/Glassmorphism (Fill) */

	background: linear-gradient(110.16deg, rgba(255, 255, 255, 0.6) -0.35%, rgba(255, 255, 255, 0.2) 100%);
	/* BG/Glassmorphism (Stroke) */

	border: 1px solid rgba(255, 255, 255, 0.48);
	border-radius: 24px;
}

.box {
	box-sizing: border-box;
	width: 560px;
	height: 316px;
	/* background-color: bisque; */


	/* Auto layout */

	display: flex;
	flex-direction: column;
	margin-top: 120px;
	align-items: center;
	padding: 24px;
	/* position: absolute; */
	/* height: %; */
	/* left: 512px;
	top: 287px;  */

	/* BG/Glassmorphism (Fill) */

	background: linear-gradient(110.16deg, rgba(255, 255, 255, 0.6) -0.35%, rgba(255, 255, 255, 0.2) 100%);
	/* BG/Glassmorphism (Stroke) */

	border: 1px solid rgba(255, 255, 255, 0.48);
	border-radius: 24px;

}




.box input {
	margin-top: 10px;
	/* background-color: #23242a; */
	position: relative;
	/* border-bottom: #8f8f8f; */
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: hidden;
	border-bottom: 1px solid gray;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;

}

.submit {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
	padding: 16px;
	gap: 6px;

	width: 560px;
	height: 48px;

	background: #0B539E;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 99px;

	/* Inside auto layout */

	flex: none;
	order: 2;
	flex-grow: 0;
	background-color: #274C77;
}

.submit button {
	border: none;
	color: #ffff;
	background: #274C77;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	/* background-color: red; */
}

.check_box {
	display: flex;
	width: 50%;
	flex-direction: row;
	/* background-color: aliceblue; */
	margin-top: 40px;
}

.check_box p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	/* margin-right: 70px; */
}

.box_forget {
	display: flex;
	/* background-color: bisque; */
	position: absolute;
	padding: 10px;
	/* margin-left: 100px; */
	margin-left: 400px;

}