@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap%27");


.hekk {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
  /* width: 100vw; */
  background: url(../../image/NewBG1.png);
  /* background-color: #ffffff; */
    justify-content: center;
    align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* .home_body{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: column;
  width: 100vw;
  background: url(../../image/bgmain.png);
  background-color: #ffffff;
    justify-content: center;
    align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  } */

  .body {
    width: 100%;
    margin-top: 56px;
    /* background-color: rebeccapurple; */
  }
  


  
  .body_header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.48);
  padding-bottom: 24px;
}

.body_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding:0px;
  gap: 2px;
  /* position: absolute; */
  width: 194px;
  height: 98px;
  font-family: 'Roboto';
  color: #274C77;
  /* background-color: #0D47A1; */
}
.body_left h1{
  /* margin-right: 10px; */
  width: 194px;
  height: 48px;
  /* background-color: #0B539E; */
  
  /* Display/Large */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 48px;
  /* identical to box height, or 104% */
  
  letter-spacing: 0.5px;
  
  /* Interactive/03 */
  
  color: #0B539E;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.body_left h2 {
  width: 158px;
  height: 48px;
  
  /* Display/Small */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  
  letter-spacing: 0.5px;
  
  /* Interactive/03 */
  
  color: #0B539E;
  
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}


.body_right {
  display: flex; 
  /* justify-content:flex-start; */
  flex-direction: row;
  /* align-items: flex-end; */
  text-align: left;
  color: #274C77;
  /* background-color: #0D47A1; */
    /* Display/Large */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* font-size: 46px; */
  line-height: 48px;
  /* identical to box height, or 104% */
  
  letter-spacing: 0.5px; 
}

.body_right h1{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  /* background-color: #ffffff; */
width: 156px;
height: 100%;

/* Semi Bold/Heading 1 */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 56px;
/* identical to box height, or 127% */


/* Interactive/03 */

color: #0B539E;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}




.menu_container {
   display:flex;
   flex-flow: row wrap;
   /* background-color: aqua; */
   justify-content: space-between;
   /* background-color: aqua; */
}

/* 
.menu_container div {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(2, 1fr);
  width: 304px;
  padding-top: 20px;
} */



.card_container  {
  background-color: rgba(255, 254, 253, 0.281);
  cursor: pointer;
  margin:  20px 0px;
  width: 33.33%;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
  border-radius: 16px;
  /* background-color: #0B539E; */
}

/* .card_container h3 {
  text-align:center ;
  font-size: 17px;
  color: #999999;
} */

.card_container:hover {
  color: #ffffff;
  background-color: #0D47A1;
}

.card_container:hover img {
  filter: brightness(0) invert(1);
}






/* 
@media only screen and (min-width: 744px) {
  .card_container {
    width: 30%;
  } 
}  */

@media only screen and  (min-width :781px) {
  .body {
    width: 96%;
    /* background-color: pink; */
  }
  .menu_container{
    width: 100%;
  }
  .card_container  {
    width: 32%
  }
}
@media only screen and  (min-width :1024px) {
  .body {
    width: 960px;
    /* background-color: pink; */
  }
  .card_container {
    width: 304px;
    height: 200px;
  }
}


/* @media only screen and (max-height : 1440px) {
  .home_body {
    height: 100vh;
    background: radial-gradient(
      circle at center,
      #ffffff 0%,
      #e3f5fa 4%,
      #bff5c8 12.25%,
      #95e0fd 31.25%,
      #b6f8d1 50%
    );
  }
} */