.page_number {
    display: flex;
    justify-content: flex-end;
    /* width: 100%; */
    /* background-color: aqua; */
    flex-flow: row nowrap;
    margin-right: 10px;
}

.page_number h2{
    font-size: 14px;
    border: 1px solid black;
    background-color: bisque;
    /* margin-right: 10px; */
    cursor: pointer;
}

.page_number h2:hover {
    background-color: crimson;
}