.page_number {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  flex-flow: row nowrap;
  position: relative;
}

.select_page_number {
  /* background-color: red; */
  padding: 0px 8px;
  gap: 4px;
  background: linear-gradient(
    110.16deg,
    rgba(255, 255, 255, 0.6) -0.35%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.page_number h1 {
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  /* border: 1px solid black; */
  cursor: pointer;
}

.page_number button {
  border: none;
  color: #666666;
  font-size: 20px;
  background: linear-gradient(
    110.16deg,
    rgba(255, 255, 255, 0.6) -0.35%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 99px;
  padding: 6px 12px;
  cursor: pointer;
}

.select_page_number {
  border-radius: 0;
  /* background-color:white; */
  opacity: 1;
  color: #666666;
}
.select_page_number p {
    font-size: 24px;
}

.select_page_number_active {
  opacity: 1;
  color: #faf9f6;
  background-color: #4e95ff;
  filter: drop-shadow(0px 0px 2px #4e95ff);
}
/* .page_number h2:hover {
    background-color: crimson;
} */
