.volunteer_body {
  /* background-color: yellow; */
  position: relative;
  height: 1064px;
}

.box_activity_suppe {
  display: flex;
  flex-flow: row wrap;
  width: 960px;
  /* height: 944px; */
  /* background-color: red; */
  justify-content: space-between;
}

.box_activity_container {
  display: flex;
  /* width:48.49%; */
  width: 468px;
  height: 144px;
  /* margin-right: 12px; */
  margin-bottom: 20px;
  border-radius: 16px;
  border: 1px solid black;
  background-color: #ffffff;
}

.box_activity_img img {
  margin: 5px;
  width: 145px;
  height: 112px;
  border-radius: 16px;
}


.box_activity_img img:hover {
  background-color: aqua;
}


.box_activity_title {
  display: flex;
  width: 100%;
  padding-left: 10px;
  flex-direction: column;
  text-align: start;
}


.box_activity_location {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  /* background-color: aquamarine; */
}

.box_activity_hr {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.change_page_botton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.change_page_botton h3 {
  color: black;
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid black;
  margin: 10px;
  background-color: #fff;
  /* display: flex; */
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* background-color: black; */
  /* width: 100%; */
}


@media only screen and (min-width : 1441px) {
  .box_activity_suppe {
    width: 100%;
    /* background-color: pink; */
  }
  .box_activity_container{
    width: 47%;
    padding: 16px 16px;
  }
}