.create_profile_student_container {
  width: 1200px;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-left: 32px; */
}

.create_profile_student_header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-top: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7ecef;
}

.create_profile_student {
  margin-top: 40px;
  margin-left: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7ecef;
}

.title_create_profile_student {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 18px;
  
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Text/Black */

  color: #333333;
}

.box_create_student {
  display: flex;
  width: 100%;
  gap: 8px;
  /* justify-content: space-between; */
  margin-top: 8px;
  /* background-color: green; */
}

.student_id {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* width: 50%; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* display: flex; */
  /* align-items: flex-end; */

  /* Neutral/07 */

  color: #777777;

  /* background-color: blanchedalmond; */
}

.student_id select {
  width: 372px;

  height: 44px;
}

.student_id input {
  width: 347.5px;
}

.student_id select,
.student_id input {
  padding: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 8px;
  padding: 8px 12px 8px 8px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
}

.student_number_id {
  display: flex;
  text-align: start;
  flex-direction: column;
  width: 50%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* display: flex; */
  /* align-items: flex-end; */

  /* Neutral/07 */

  color: #777777;
  /* background-color: yellow; */
}

.student_number_id select {
  width: 372px;
  height: 44px;
}

.student_number_id input {
  width: 347.5px;
}

.student_number_id select,
.student_number_id input {
  padding: 0px;
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  border-radius: 8px;
}

.document_of_old_school {
  margin-left: 32px;
  margin-top: 24px;
}

.box_create_student_three {
  /* background-color: red; */
  width: 750px;
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: repeat(3 , 1fr); */
  gap: 8px;
  /* background-color: #333333; */
}

.student_in_year {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  margin-top: 8px;
  /* display: flex; */
  /* align-items: flex-end; */
  width: 229px;
  /* Neutral/07 */
  /* background-color: ghostwhite; */
  color: #777777;
}

.student_in_year input {
  padding: 0px;
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */
  margin-right: 8px;
  /* background: #ffffff; */
  /* background: #000; */
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  width: 209px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  border-radius: 8px;
}

.student_in_year select {
  padding: 0px;
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */
  margin-right: 8px;
  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  width: 229px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  border-radius: 8px;
}

.box_create_student_private {
  margin-top: 24px;
  text-align: start;
}

.box_create_student_private_container {
  margin-left: 32px;
  /* border-bottom: 1px ; */
  padding-bottom: 30px;
  border-bottom: 1px solid #e7ecef;
  /* background-color: green; */
}

.student_private_header {
  /* margin-left: 32px; */
  padding-bottom: 20px;
}

.textarea_address {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin-top: 8px;
  /* display: flex; */
  /* align-items: flex-end; */

  /* Neutral/07 */

  color: #777777;
}

.textarea_address textarea {
  margin-top: 8px;
  width: 730px;
  height: 134px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  padding: 8px 12px 8px 8px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
}

.document_of_old_school {
  /* background-color: firebrick; */
  border-bottom: 1px solid #e7ecef;
  padding-bottom: 30px;
}

.title_create_profile_student_oldSchool {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 18px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Text/Black */

  color: #333333;
  /* background-color: firebrick; */
}

.create_username_password {
  margin-top: 18px;
  margin-left: 32px;
  padding-bottom: 189px;
  /* background-color: #333333; */
}

.close_and_submit_button {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  margin-top: 24px;
  gap: 16px;
  width: 752px;
  height: 40px;
  justify-content: flex-end;
  /* background-color: red; */
}

.close_and_submit_button button {
  width: 75px;
  padding: 4px 16px;
  border-radius: 99px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* Text/white */
}

.close_and_submit_button button:nth-child(1) {
  background-color: #e7ecef;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.close_and_submit_button button:nth-child(2) {
  color: #faf9f6;
  background: #274c77;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

@media only screen and (min-width: 1441px) {
  .create_profile_student_container {
    /* background-color:green; */
    /* padding-left: 1.5%; */
    width: 100%;
    /* position:-ms-page; */
  }
  .box_create_student {
    display: flex;
    justify-content: space-between;
    width: 1027.7px;
    /* background-color:red; */
    /* justify-content: space-between; */
  }
  .box_create_student .student_id input {
    width: 470px;
  }
  .box_create_student .student_id select {
    width: 490px;
  }
  .box_create_student .student_number_id select {
    width: 490px;
  }

  .box_create_student .student_number_id input {
    width: 470px;
  }

  .student_id {
    /* background-color: black; */
    width: 405px;
  }
  .student_number_id {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 405px;
    /* background-color: wheat; */
  }
  .student_number_id label {
    /* background-color: blue; */
    width: 490px;
    /* margin-left: 40%; */
  }

  .box_create_student_three {
    display: flex;
    justify-content: space-between;
    text-align: start;
    flex-direction: column;
    /* width: 50%; */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */

    /* Neutral/07 */

    color: #777777;
    /* width: 62%; */
    /* background-color: green; */
  }
  .student_in_year {
    display: flex;
    justify-content: flex-end;
    width: 32%;
    /* background-color: #777777; */
  }
  .student_in_year input {
    width: 92%;
  }

  .student_in_year select {
    width: 100%;
    /* background-color: aqua; */
  }
  .textarea_address {
    width: 62%;
    /* background-color: firebrick; */
  }
  .textarea_address textarea {
    width: 1007.7px;
  }
  .close_and_submit_button {
    width: 1029px;
    /* background-color: red; */
  }
}
