.create_profile_student_container {
  width: 70.583%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-left: 32px; */
}

.create_profile_student_header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-top: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7ecef;
}

.create_profile_student {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  margin-left: 32px;
  /* background-color: #2196f3; */
  padding-bottom: 30px;
  border-bottom: 1px solid #e7ecef;
}

.title_create_profile_student {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 18px;

  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Text/Black */

  color: #333333;
}

.box_create_student {
  display: flex;
  width: 100%;
  gap: 8px;
  /* justify-content: space-between; */
  margin-top: 8px;
  /* background-color: green; */
}

.student_id {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* width: 50%; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* display: flex; */
  /* align-items: flex-end; */

  /* Neutral/07 */

  color: #777777;

  /* background-color: blanchedalmond; */
}

.student_id select {
  width: 372px;

  height: 44px;
}

.student_id input {
  width: 347.5px;
}

.student_id select,
.student_id input {
  padding: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 8px;
  padding: 8px 12px 8px 8px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
}

.student_number_id {
  display: flex;
  text-align: start;
  flex-direction: column;
  width: 50%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* display: flex; */
  /* align-items: flex-end; */

  /* Neutral/07 */

  color: #777777;
  /* background-color: yellow; */
}

.student_number_id select {
  width: 372px;
  height: 44px;
}

.student_number_id input {
  width: 347.5px;
}

.student_number_id select,
.student_number_id input {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  border-radius: 8px;
}

.document_of_old_school {
  margin-left: 32px;
  margin-top: 24px;
}

.box_create_student_three {
  /* background-color: red; */
  width: 750px;
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: repeat(3 , 1fr); */
  gap: 8px;
  /* background-color: #333333; */
}

.student_in_year {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  margin-top: 8px;
  /* display: flex; */
  /* align-items: flex-end; */
  width: 229px;
  /* Neutral/07 */
  /* background-color: ghostwhite; */
  color: #777777;
}

.student_in_year input {
  padding: 0px;
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */
  margin-right: 8px;
  /* background: #ffffff; */
  /* background: #000; */
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  width: 209px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  border-radius: 8px;
}

.student_in_year select {
  padding: 0px;
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */
  margin-right: 8px;
  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  width: 229px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  border-radius: 8px;
}

.box_create_student_private {
  margin-top: 24px;
  text-align: start;
}

.box_create_student_private_container {
  margin-left: 32px;
  /* border-bottom: 1px ; */
  padding-bottom: 30px;
  border-bottom: 1px solid #e7ecef;
  /* background-color: green; */
}

.student_private_header {
  /* margin-left: 32px; */
  padding-bottom: 20px;
}

.textarea_address {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin-top: 8px;
  /* display: flex; */
  /* align-items: flex-end; */

  /* Neutral/07 */

  color: #777777;
}

.textarea_address textarea {
  margin-top: 8px;
  width: 730px;
  height: 134px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  padding: 8px 12px 8px 8px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
}

.document_of_old_school {
  /* background-color: firebrick; */
  border-bottom: 1px solid #e7ecef;
  padding-bottom: 30px;
}

.title_create_profile_student_oldSchool {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 18px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Text/Black */

  color: #333333;
  /* background-color: firebrick; */
}

.create_username_password {
  margin-top: 18px;
  margin-left: 32px;
  padding-bottom: 189px;
  /* background-color: #333333; */
}

.close_and_submit_button {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  margin-top: 24px;
  gap: 16px;
  width: 752px;
  height: 40px;
  justify-content: flex-end;
  /* background-color: red; */
}

.close_and_submit_button button {
  width: 75px;
  padding: 4px 16px;
  border-radius: 99px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* Text/white */
}

.close_and_submit_button button:nth-child(1) {
  background-color: #e7ecef;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.close_and_submit_button button:nth-child(2) {
  color: #faf9f6;
  background: #274c77;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

/* edit newYear for senior programmer */

.prefix_student_name {
  display: flex;
  flex-direction: column;

  width: 10%;
  gap: 8px;
}

.student_p_input_value_container {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* width: 50%; */
  gap: 8px;
}

.input_value_studentid {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
  width: 100%;
  /* identical to box height, or 133% */
  /* Text/Dark Grey */

  color: #9f99a3;
}

.prefix_fullname_eng_th_student_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 18px;
  gap: 8px;
  /* background-color: teal; */
}

.prefix_student_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: flex-end;

  /* Neutral/07 */

  color: #777777;
}
.prefix_student_select_container {
  width: 100%;
}

.select_prefix_student_name {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Text/Black */

  color: #333333;
  padding: 8px 12px 8px 8px;
  background: #ffffff;
  /* background: green; */
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
}
.option_prefix_student {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Text/Black */

  color: #333333;
}
.student_fullname_th {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.student_fullname_eng_container,
.student_fullname_th_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 45%;
  /* background-color: rebeccapurple; */
}

.input_student_fullname_th_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
  width: 100%;
  /* identical to box height, or 133% */
  /* Text/Dark Grey */

  color: #9f99a3;
}

.create_student_select_container {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-top: 24px;
  gap: 8px;
  /* background-color: teal; */
}

.create_student_select_major_container,
.create_student_select_faculty_container {
  display: flex;
  flex-direction: column;

  width: 50%;
  gap: 8px;
}

.create_title_text_box {
  display: flex;
}
.create_title_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: flex-end;

  /* Neutral/07 */

  color: #777777;
}
.create_student_select_option {
  display: flex;
}
.select_major {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Text/Black */

  color: #333333;
  padding: 8px 12px 8px 8px;
  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
  width: 100%;
}

.create_student_year_class {
  display: flex;
  flex-direction: column;

  width: 33.33%;
  /* background-color: rebeccapurple; */
  gap: 8px;
}

.input_student_year,
.input_student_class {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 12px 8px 8px;
  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
  width: 100%;
  /* identical to box height, or 133% */
  /* Text/Dark Grey */

  color: #9f99a3;
}
.input_student_class {
  background: #dddddd;
}

.create_student_email_box {
  display: flex;
  flex-direction: column;

  width: 70%;
  gap: 8px;
  /* background-color: #274c77; */
}
.create_student_email {
  display: flex;

  width: 100%;
  gap: 8px;
  border-radius: 8px;
  align-items: center;
  /* padding: 8px 12px 8px 8px; */
  border: 1px solid #e7ecef;
}
.input_value_email_student {
  border: none;
  width: 75%;
  outline: none;
  padding: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* margin-top: 8px; */
  padding: 8px 12px 8px 8px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */
  border-radius: 8px;
}
.set_email_student_text {
  width: 24.091%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  text-align: right;

  /* Text/Black */

  color: #333333;
}

.select_status_on_university_box {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 8px;
}
.select_status_student_box {
  display: flex;
}
.select_status_on_university {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Text/Black */

  color: #333333;
  padding: 8px 12px 8px 8px;
  background: #ffffff;
  /* Interactive/04 */

  border: 1px solid #e7ecef;
  border-radius: 8px;
  width: 100%;
}

.student_address {
  display: flex;
  flex-direction: column;

  gap: 8px;
  width: 100%;

  /* background-color: red; */
}
.text_area_box {
  width: 100%;
  /* background-color: #274c77; */
}
.text_area_box textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* margin-top: 8px; */
  padding: 8px 12px 8px 8px;
  /* identical to box height, or 133% */

  /* Text/Dark Grey */

  color: #9f99a3;
  /* width: 347.5px; */
  /* height: 40px; */

  /* Neutral/F */

  background: #ffffff;
  /* Interactive/04 */
  border-radius: 8px;
}

.student_oldschool_container {
  display: flex;
  flex-direction: column;

  width: 33.33%;
  gap: 8px;
}

.button_onsubmit_unsubmit_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  margin-top: 24px;
  gap: 16px;
}
.button_unsubmit {
  padding: 4px 16px;
  gap: 6px;
  height: 40px;

  /* Interactive/04 */

  background: #e7ecef;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 99px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* Text/Black */

  color: #333333;
}
.button_onsubmit {
  padding: 4px 16px;
  gap: 6px;
  height: 40px;

  /* Interactive/03 */

  background: #274c77;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 99px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* Text/white */

  color: #faf9f6;
}

.student_toggle_button_status_container {
  width: 100%;
  margin-top: 8px;
  /* background-color: red; */
}
.button_toggle_on,
.button_toggle_off {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.button_toggle_on {
  width: 10.47%;
  height: 24px;
  border-radius: 2px;
  background: #2196f3;
}
.button_toggle_off {
  width: 10.47%;
  height: 24px;

  border-radius: 2px;
  background: #dddddd;
}
.button_toggle_on_switch {
  width: 20.67%;
  height: 24px;

  display: flex;
  align-items: center;

  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.button_toggle_off_switch {
  width: 20.67%;
  height: 24px;

  display: flex;
  align-items: center;
  order: 2;

  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.button_toggle_on_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;

  /* Text/white */

  color: #faf9f6;
  width: 79%;
  /* background-color: #274c77; */
}
.button_toggle_off_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;

  /* Text/white */
  color: #9f99a3;

  width: 79%;
}

.create_teacher_name_container,
.student_avatar_container {
  margin-top: 8px;
}
.student_avatar {
  padding: 16px;
  width: 100%;
  height: 94px;
}

.student_avatar {
  display: flex;

  /* justify-content: space-between; */
  align-items: center;
  /* background-color: red; */
  /* background: #ffffff; */
  /* Interactive/02 */
  margin-top: 6px;

  border: 1px dashed #6096ba;
  border-radius: 8px;
}
.avatar_image_container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  width: 9.104%;
  height: 100%;
  background: #e3f2fd;
  border-radius: 8px;
}
.avatar_image {
  width: 100%;
}
.avatar_upload_description_text_container {
  display: flex;
  width: 74.54%;
  margin-left: 16px;
}
.avatar_upload_description_text_container {
  font-family: "FC Iconic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.4px;

  /* Interactive/00 */

  color: #8b8c89;
}
.avatar_upload_file {
  width: 16.366%;

  /* display: flex; */
  /* justify-content: flex-end; */
}
.avatar_upload_file p {
  font-family: "FC Iconic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  cursor: pointer;
  letter-spacing: 0.44px;

  /* Interactive/03 */

  color: #274c77;
}

@media only screen and (min-width: 1441px) {
  .create_profile_student_container {
    /* background-color:green; */
    /* padding-left: 1.5%; */
    width: 70.583%;
    /* position:-ms-page; */
  }
  .box_create_student {
    display: flex;
    justify-content: space-between;
    width: 1027.7px;
    /* background-color:red; */
    /* justify-content: space-between; */
  }
  .box_create_student .student_id input {
    width: 470px;
  }
  .box_create_student .student_id select {
    width: 490px;
  }
  .box_create_student .student_number_id select {
    width: 490px;
  }

  .box_create_student .student_number_id input {
    width: 470px;
  }

  .student_id {
    /* background-color: black; */
    width: 405px;
  }
  .student_number_id {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 405px;
    /* background-color: wheat; */
  }
  .student_number_id label {
    /* background-color: blue; */
    width: 490px;
    /* margin-left: 40%; */
  }

  .box_create_student_three {
    display: flex;
    justify-content: space-between;
    text-align: start;
    flex-direction: column;
    /* width: 50%; */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */

    /* Neutral/07 */

    color: #777777;
    /* width: 62%; */
    /* background-color: green; */
  }
  .student_in_year {
    display: flex;
    justify-content: flex-end;
    width: 32%;
    /* background-color: #777777; */
  }
  .student_in_year input {
    width: 92%;
  }

  .student_in_year select {
    width: 100%;
    /* background-color: aqua; */
  }
  .textarea_address {
    width: 62%;
    /* background-color: firebrick; */
  }
  .textarea_address textarea {
    width: 1007.7px;
  }
  .close_and_submit_button {
    width: 1029px;
    /* background-color: red; */
  }
}
