/* 
.test_class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background: radial-gradient(
      circle at center,
      #ffffff 0%,
      #e3f5fa 4%,
      #bff5c8 12.25%,
      #95e0fd 31.25%,
      #b6f8d1 50%
    )
    center top/200% 200%;
  color: rgb(14, 14, 14);
  font-weight: bold;
  animation: colorChange 5s infinite alternate;
} */


  .testClass_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 100%;
    margin-top: 24px;
    /* margin-left: 50%; */
    background: linear-gradient(110.16deg, rgba(255, 255, 255, 0.6) -0.35%, rgba(255, 255, 255, 0.2) 100%);
    /* BG/Glassmorphism (Stroke) */
    
    border: 1px solid rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    
  }

  .testClass_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 960px;

    font-size: 25px;
    /* background-color:red; */
  }

  .testClass_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 960px;
    /* height: 128px; */
    /* left: 240px; */
    /* top: 168px; */
    /* background-color: bisque; */
  }
  .testClass_header p{
    cursor: pointer;
  }

  .test_week_day_component{
    display: flex;
    flex-direction: row;
    margin-top: 24;
    /* height: 100px; */
    width: 95%;
    margin-top: 24px;
  }

  .test_week_day_container{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
  }
  .test_week_day_activity_section{
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  .test_week_day_activity{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    gap: 19px;
    align-items: center;
    /* background-color: rgb(217, 144, 48); */
  }
  .test_week_day_activity h4{
    display: flex;
    /* background-color: aqua; */
    width: 200px;
    flex-direction: row;
    margin-left: 200px;
    justify-content: flex-end;
    /* align-items: flex-end; */
    /* margin-left: 50px; */
  }
  .test_week_day_activity p{
    margin-left: 19px;
    
  }

  .test_week_day_activity p2 {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: flex-end;
    width: 100%;
    /* background-color: antiquewhite; */
  }


