.admin_page {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: aqua;
}

.layout_body {
  width: 95%;
  display: flex;
  height: 100vh;
  background-color: red;
  align-items: flex-start;
  position: absolute;
  z-index: 0;
}

.layout_body_active {
  /* width: 83.33%; */
  opacity: 0.2;

}
/* .sidebar_admin:hover {
    transform: translate(-12px -12px);
    cursor: pointer;
}
.sidebar_admin::before {
    transform: translate(12px 12px);
}
.sidebar_admin::after {
    transform: translate(6px 6px);
}

.sidebar_admin::after , .sidebar_admin::before {
    content: "";
    position: absolute;
    opacity: 0.5px;
    background-color: aqua;
} */
