.admin_page {
  display: flex;
  padding: 40px 32px 40px 32px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  /* background-color: aqua; */

  .box_admin_panel_container {
    display: flex;
    width: 100%;
    margin-top: 15px;
    // border: none;
    gap: 20px;
  }
  .admin_panel_header_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 35px;
    // background-color: gray;
    /* identical to box height, or 129% */

    display: flex;
    letter-spacing: 0.5px;

    /* Primary/00 */

    color: #0d47a1;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .admin_panel_title_text_sofilter_term {
    display: flex;
    gap: 20px;
    align-items: center;
    .admin_panel_title_container {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */

      color: #000000;
    }
    select {
      align-items: flex-start;
      padding: 8px 8px 8px 16px;
      gap: 4px;
      background: #ffffff;

      border: 1px solid #e2e3de;
      border-radius: 8px;

      font-family: "FC Iconic";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      display: flex;
      align-items: center;
      letter-spacing: 0.44px;

      /* neutral/neutral30 */

      color: #454744;
    }
  }
}

.layout_body {
  width: 95%;
  display: flex;
  height: 100vh;
  background-color: red;
  align-items: flex-start;
  position: absolute;
  z-index: 0;
}

.layout_body_active {
  /* width: 83.33%; */
  opacity: 0.2;
}
/* .sidebar_admin:hover {
    transform: translate(-12px -12px);
    cursor: pointer;
}
.sidebar_admin::before {
    transform: translate(12px 12px);
}
.sidebar_admin::after {
    transform: translate(6px 6px);
}

.sidebar_admin::after , .sidebar_admin::before {
    content: "";
    position: absolute;
    opacity: 0.5px;
    background-color: aqua;
} */
