.pobox_activity_suppe {
  display: flex;
  flex-flow: row wrap;
  width: 960px;
  /* margin-top: 40px; */
  margin-left: 450px;
  background-color: red;
  justify-content: space-between;
}

.pobox_activity_container {
  display: flex;
  width: 468px;
  /* margin-right: 12px; */
  margin-bottom: 20px;
  border-radius: 16px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.473);
}

.pobox_activity_img img {
  margin: 5px;
  width: 145px;
  height: 112px;
  border-radius: 16px;
}


.pobox_activity_img img:hover {
  background-color: rgb(124, 124, 124);
}


.pobox_activity_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 275px;
  height: 108px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 1;
}
.pobox_activity_title h2{
  width: 300px;
  height: 48px;
  
  /* Medium/Paragraph 1 */
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  
  
  /* Text/Black */
  
  color: #333333;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color: red;
}


.pobox_activity_location {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 300px;
  height: 16px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  background-color: aquamarine;
}

.pobox_activity_hr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  background-color: gold;
  width: 300px;
  height: 24px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.pchange_page_botton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.pchange_page_botton h3 {
  color: black;
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid black;
  margin: 10px;
  background-color: #fff;
  /* display: flex; */
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* background-color: black; */
  /* width: 100%; */
}