.edit_page_body {
  width: 50%;
  margin-left: 20px;
}
.edit_page_body h4 {
  display: flex;
  font-size: 12px;
}
.edit_page_body input {
  margin-top: 2px;
}

.edit_page_body select {
  margin-top: 2px;
}

.edit_header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: aqua; */
  flex-direction: column;
}

.img_edit_user img {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  width: 165px;
  height: 176px;
}

.edit_user_container_id_noun {
  display: flex;
}

/* .edit_user_container_id_noun h4 {
    
} */

.edit_user_container_id_noun_left input {
  width: 200px;
  padding-left: 5px;
  background-color: gray;
}

.edit_user_container_id_noun_right {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.edit_user_container_id_noun_right select {
  padding: 2px;
  width: 100px;
}

.edit_user_name_lastname_Th {
  display: flex;
  margin-top: 20px;
}
.edit_user_name_lastname_Th input {
  width: 200px;
  padding-left: 5px;
}

.edit_user_name_lastname_Th h4 {
  display: flex;
}
/* 
.edit_user_name_lastname_Th input {
    padding: 2.4px;
} */

.edit_user_lastname {
  margin-left: 24px;
}

.edit_user_lastname input {
  width: 200px;
  padding-left: 5px;
}

.edit_user_year {
  margin-top: 20px;
  display: flex;
  /* background-color: green; */
  /* justify-content: space-around; */
}

.edit_user_year_left select {
  padding: 2px;
  width: 100px;
}

.edit_user_year_center{
  margin-left: 22px;
}

.edit_user_year_center select {
  /* margin-left: 3%; */
  padding: 2px;
  width: 200px;
}

.edit_user_year_right {
  margin-left: 22px;
}

.edit_user_year_right select {
    /* background-color: blue; */
    /* margin-left: 3%; */
    padding: 2px;
    width: 100px;
}

.edit_user_year_right select {
  display: flex;
  width: 100%;
}

.edit_user_class_major {
    display: flex;
    margin-top: 20px;
}

.edit_user_class_major_left select{
    width: 100px;
    padding: 2px;
} 

.edit_user_class_major_center{
    margin-left: 22px;
    /* display: flex; */
}

.edit_user_class_major_center select {
    width: 100px;
    padding: 2px;
}

.edit_user_class_major_right{
    margin-left: 22px;
}

.edit_user_class_major_right select {
    padding: 2px;
    width: 200px;
}



.edit_status_student {
    display: flex;
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid saddlebrown;
}

.edit_student_major select 
{
    padding: 2px;
    width: 200px;
}

.edit_student_status {
    margin-left: 22px;
}

.edit_student_status select {
    padding: 2px;
    width: 100px;
}



.private_student_edit{
    display: flex;
    flex-direction: column;
}


.private_student_edit h2 {
    text-align: start;
    padding: 20px 0px 0px 0px;
     /* padding-top: 20px; */
    font-size: 16px;
}

/* .edit_user_year_right option {
    display: flex;
    background-color: red;
    margin-top: auto;
    justify-content: flex-end;
    align-items: center;
} */
