


  .classl_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 745px;
    width: 100%;
    margin-top: 24px;
    /* margin-left: 50%; */
    background: linear-gradient(110.16deg, rgba(255, 255, 255, 0.6) -0.35%, rgba(255, 255, 255, 0.2) 100%);
    /* BG/Glassmorphism (Stroke) */
    
    border: 1px solid rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    
  }

  .classl_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 960px;

    font-size: 25px;
    background-color:red;
  }

  .classl_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 960px;
    /* height: 128px; */
    /* left: 240px; */
    /* top: 168px; */
    background-color: bisque;
  }
  .classl_header p{
    cursor: pointer;
  }

  .classl_container{
    width: 100%;
    height: 704px;
    /* margin-top: 20%; */
    border: 1px solid black;
    border-radius: 16px;
    background-color: rgba(245, 245, 245, 0.473);
  }


  .week_day_component{
    display: flex;
    flex-direction: row;
    margin-top: 24;
    width: 95%;
    margin-top: 24px;
    
  }

  .week_day_container{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
  }
  .week_day_activity_section{
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  .week_day_activity{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }

  .week_day_activity :hover{
    color: blue;
  }
  .week_day_activity p1{
    display: flex;
    margin-left: 376px;
    margin-right: 272px;
  }

