.classl{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;
    background: radial-gradient(
        circle at center,
        #ffffff 0%,
        #e3f5fa 4%,
        #bff5c8 12.25%,
        #95e0fd 31.25%,
        #b6f8d1 50%
      );
  }
