.class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
      circle at center,
      #ffffff 0%,
      #e3f5fa 4%,
      #bff5c8 12.25%,
      #95e0fd 31.25%,
      #b6f8d1 50%
    )
    center top/200% 200%;
  color: rgb(14, 14, 14);
  font-weight: bold;
  /* animation: colorChange 5s infinite alternate; */
}


@keyframes colorChange {
  to {
    background-position: 0%;
  }
}

@-webkit-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@-moz-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@-o-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}

.class_title {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.class_title h1 {
  font-size: 48px;
  padding-top: 40px;
  align-items: flex-start;
  color: #0d47a1;
}

.class_tab_container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  height: 48px;
  cursor: pointer;
}

.class_tab {
  height: 48px;
  padding: 8px;
}

.class_tab_active {
  border-bottom: 2px solid #274c77;
}

.class_tab_text {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #faf9f6;
}

.class_tab_text:hover {
  color: #274c77;
}

.class_tab_text_active {
  color: #274c77;
}

.class h3 {
  color: white;
  padding: 10px;
}

.class_header h3:hover {
  color: black;
}

.class_component {
  width: 70%;
  margin-top: 16px;
  /* background-color: rgb(68, 1, 59); */
}
.class_header{
  display: flex;
  /* background-color: #0d47a1; */
  width: 70%;
  justify-content: flex-start;
}
.class_header p {
  font-size: 14px;
}

.select_C {
  display: flex;
  background-color: red;
  top:40px;
  right: 10px;
  margin-top: 16px;
  position: absolute;
}

.select_C h4 {
  /* background-color: rebeccapurple; */
  font-size: 14px;
  margin-right: 5px;
}

.class_table_container{
  display: flex;
  width: 100%;
  /* background-color: #3d3b63; */
  margin-top: 8px;
}

.class_table_container table {
  background-color: #3d3b63;
  border-collapse: collapse;
  border-radius: 16px;
  font-size: 1em;
  color: white;
  overflow: hidden;
  width: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
  
}
.class_table_container thead {
  background-color: #8B8C89;
 
}
.class_table_container th {
  letter-spacing: 0.3px;
  /* text-shadow: 0 1px 1px #2b2a466b; */
  text-align: center;
}
.class_table_container table > thead > tr > th {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.class_table_container td {
  background-color: #ffffff;
  color: black;
}
.class_table_container td strong {
  color: white;
}
.class_table_container td,
.class_table_container th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 11px;
}


.test_table_container{
  display: flex;
  width: 100%;
  /* background-color: #3d3b63; */
  margin-top: 8px;
}

.test_table_container table {
  background-color: #3d3b63;
  border-collapse: collapse;
  border-radius: 16px;
  font-size: 1em;
  color: white;
  overflow: hidden;
  width: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
  
}
.test_table_container thead {
  background-color: #8B8C89;
 
}
.test_table_container th {
  letter-spacing: 0.3px;
  /* text-shadow: 0 1px 1px #2b2a466b; */
  text-align: center;
}
.test_table_container table > thead > tr > th {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.test_table_container td {
  background-color: #ffffff;
  color: black;
}
.test_table_container td strong {
  color: white;
}
.test_table_container td,
.test_table_container th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 11px;
}