


  .testClass_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin-left: 50%; */
    /* background-color: darkgoldenrod; */
    
  }

  .testClass_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 960px;

    font-size: 25px;
    /* background-color:red; */
  }

  .testClass_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 960px;
    /* height: 128px; */
    /* left: 240px; */
    /* top: 168px; */
    /* background-color: bisque; */
  }
  .testClass_header p{
    cursor: pointer;
  }

