.admin_page {
    display: flex;
    width: 100%;
    justify-content:center ;
    align-items: center;
}

.body_admin_page {
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 50%;
    flex-direction: column;
}


/* .sidebar_admin:hover {
    transform: translate(-12px -12px);
    cursor: pointer;
}
.sidebar_admin::before {
    transform: translate(12px 12px);
}
.sidebar_admin::after {
    transform: translate(6px 6px);
}

.sidebar_admin::after , .sidebar_admin::before {
    content: "";
    position: absolute;
    opacity: 0.5px;
    background-color: aqua;
} */

