.Header {
  display: flex;
  border-bottom: 0.5px solid lightgray;
  width: 100%;
  height: 64px;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  z-index: 999;
  /* position: fixed; */
  justify-content: space-between;

  background: linear-gradient(102deg, #e2b3da, #47e0d9, #d492ce, #040104);
  background-size: 1000% 100%;

  -webkit-animation: Header 26s ease infinite;
  -moz-animation: Header 26s ease infinite;
  -o-animation: Header 26s ease infinite;
  animation: Header 26s ease infinite;
}

@-webkit-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@-moz-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@-o-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}

.Header_left {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: flex-start;
  color: wheat;
  padding-left: 25px;
  /* background-color: red; */
}

.Header_center {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* h3 {
  display: flex;
} */

.link {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-right: 40px;
}

.link:hover {
  color: #040104;
}

.header_right {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px ;
  align-items: center;
  /* background-color: green; */
  cursor: pointer;
  color: white;
}

.header_right p:hover {
    color: blue;
}

/* .log_out {
  position: absolute;
  right: -100%;
  transition: 850ms;
}

.log_out_active {
  right: 0;
  transition: 350ms;
} */