.Header {
  display: flex;
  border-bottom: 0.5px solid lightgray;
  width: 100%;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: linear-gradient(110.16deg, rgba(255, 255, 255, 0.6) -0.35%, rgba(255, 255, 255, 0.2) 100%);
/* BG/Glassmorphism (Stroke) */

border: 1px solid rgba(255, 255, 255, 0.48);
/* BG/Glassmorphism (Effect) */

box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(12px);
  background: url(../../../image/bgmain.png);
  /* background-size: 200px; */
}





@-webkit-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@-moz-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@-o-keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@keyframes Header {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}

.Header_left {
  display: flex;
  width: 16%;
  align-items: center;
  justify-content: flex-start;
  color: wheat;
  padding-left: 25px;
  /* background-color: red; */
}
.Header_left img{
  display: flex;
  width: 57px;
  height: 48px;
  top: 8px;
  left: 16px;
  /* background-color: #040104; */
}

.Header_center {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

/* h3 {
  display: flex;
} */

.link {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 16px;
}

.link:hover {
  color: #040104;
}

.header_right {
  width: 16%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: green; */
  cursor: pointer;
}

.profile_login_logout_navbar {
  display: flex;
  background-color: black;
  padding: 8px;
  border-radius: 80px 80px 80px 80px;
  color: #ffffff;
}

.header_right p:hover {
  color: blue;
}

/* .log_out {
  position: absolute;
  right: -100%;
  transition: 850ms;
}

.log_out_active {
  right: 0;
  transition: 350ms;

} */



@media only screen and (min-width:1440px) {
  .Header_center {
    display: flex;
    gap:16px ;
    /* background-color: #040104; */
  }  
}