.profile_student {
  display: flex;
  flex-flow: row wrap;
  width: 960px;
  /* border-radius: 16px; */
  /* background-color: green; */
}

.profile_student_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 304px;
  height: 448px;
  background-color: #ffffff;
  border: 1px solid #a7c7e7;
  backdrop-filter: blur(16px);
  border-radius: 16px;
  margin-right: 24px;
}

.profile_student_image img {
  width: 200px;
  height: 200px;
  border-radius: 999px;
  margin-top: 24px;
}

.profile_student_image_text {
  display: flex;
  width: 100%;
  justify-content: start;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  margin-top: 16px;
}

.profile_student_image_text h2 {
  padding: 0px 16px 0px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height, or 123% */

  letter-spacing: 0.5px;

  /* Text/Black */

  color: #333333;
}

.profile_student_image_name {
  margin-top: 16px;
}

.profile_student_image_name p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Text/Black */

  color: #333333;
  padding-top: 8px;
}

.profile_student_status_study {
  margin-top: 16px;
  background-color: #93c47d;
  padding: 0px 16px 0px 16px;
  border-radius: 99px;
}

.profile_student_status_inactive {
  margin-top: 16px;
  background-color: red;
  padding: 0px 16px 0px 16px;
  border-radius: 99px;
}

.profile_student_container_left {
  width: 626px;
  height: 448px;
  border: 1px solid #a7c7e7;
  backdrop-filter: blur(16px);
  border-radius: 16px;
  background-color: whitesmoke;
}

.profiel_student_container_header {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25px solid #cccccc;
  padding-right: 16px;
}

.profiel_student_container_header h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #333333;
  padding: 16px 16px 10px 20px;
}

/* .profile_student_container_left h2 { */
/* display: flex; */
/* text-decoration: underline rgb(235, 10, 47); */
/* background-color: blue; */
/* } */

.profile_student_left {
  display: flex;
  text-align: left;
  flex-flow: row nowrap;
  padding: 24px 0px 0px 20px;
  /* background-color: aqua; */
}

.profile_student_left h4 {
  color: #777777;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: flex-end;

  /* Neutral/07 */

  color: #777777;
  margin-bottom: 6px;
}

.profile_student_left p {
  color: #333333;
  padding: 0px 12px 0px 0px;
  gap: 8px;
  isolation: isolate;

  width: 292px;
  height: 24px;

  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Text/Black */

  color: #333333;
  margin-bottom: 8px;
}

.student_profile_left {
  display: flex;
  width: 45%;
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: #93c47d; */
}

.student_profile_left input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 12px 2px 12px;
  background: #dddddd;
  /* Neutral/A */

  border: 1px solid #aaaaaa;
  border-radius: 8px;
  /* width: 292px; */
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
  /* identical to box height, or 133% */

  /* Text/Black */

  color: #333333;
}

.student_profile_right {
  display: flex;
  width: 50%;
  margin-left: 24px;
  /* background-color: gold; */
  flex-flow: column;
  /* margin-left: 20px; */
}

.student_profile_right input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 12px 2px 12px;
  background: #dddddd;
  /* Neutral/A */

  border: 1px solid #aaaaaa;
  border-radius: 8px;
  /* width: 292px; */
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
  /* identical to box height, or 133% */
  
  /* Text/Black */
  
  color: #333333;
}

.student_can_change input {
  width: 92%;
  background-color: #ffffff;
  padding: 2px 12px 2px 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.student_teacher_profile_right {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* align-self: flex-start; */
  margin-top: 24px;
  text-align: left;
  border: 1px solid #a7c7e7;
  backdrop-filter: blur(16px);
  border-radius: 16px;
  background-color: whitesmoke;
  /* order: 0; */
}

.student_teacher_profile_title {
  width: 100%;
}

.student_teacher_profile_title h2 {
  /* width: 100%; */
  /* background-color: gold; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height, or 123% */

  letter-spacing: 0.5px;
  padding: 16px 20px 15px;
  border-bottom: 0.25px solid #cccccc;
  /* Text/Black */

  color: #333333;
}

/* .student_teacher_profile_right h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #333333;
  padding: 16px 20px 15px;
  border-bottom: 0.25px solid #cccccc;
} */

.student_teacher_profile_text_left {
  width: 50%;
  padding: 24px 0px 0px 20px;
}

.student_teacher_profile_text_left h4 {
  color: #777777;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.5px;

  /* W&B/04 */

  color: #999999;
  /* background-color: gold; */
  /* margin-bottom: 6px; */
}

.student_teacher_profile_text_left p {
  color: #333333;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  /* background-color: gold; */
  margin-bottom: 16px;
  /* padding: 8px 12px 8px 0px; */
}

.student_teacher_profile_text_right {
  /* width: 50%; */
  padding-top: 24px;
}

.student_teacher_profile_text_right h4 {
  color: #777777;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.5px;

  /* W&B/04 */

  color: #999999;
  /* background-color: gold; */
  /* margin-bottom: 6px; */
}

.student_teacher_profile_text_right p {
  color: #333333;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  /* background-color: gold; */
  margin-bottom: 16px;
  /* padding: 8px 12px 8px 0px; */
}

@media only screen and (min-width: 1441px) {
  .profile_student {
    width: 100%;
  }
  .profile_student_container_left {
    width: 68%;
    font-size: 24px;
  }
  .profile_student_left h4 {
    font-size: 14px;
  }
  .profile_student_left p {
    font-size: 18px;
  }

  .student_teacher_profile_right {
    width: 30%;
    font-size: 24px;
  }
  .student_teacher_profile_text h4 {
    font-size: 14px;
  }
  .student_teacher_profile_text p {
    font-size: 18px;
  }
}
