.profile_student {
  display: flex;
  flex-direction: row;
  /* border-radius: 16px; */
  
}

.profile_student_container_left {
  width: 632px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: whitesmoke;
}

.profile_student_container_left h2 {
  display: flex;
  /* text-decoration: underline rgb(235, 10, 47); */
  /* background-color: blue; */
  /* justify-content: flex-start; */
  margin-left: 20px;
}

.profile_student_left {
  display: flex;
  text-align: left;
  margin: 20px;
}

.profile_student_left h4 {
  color: #999999;
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.profile_student_left p {
  color: #0a0c12;
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.student_profile_left {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
}

.student_profile_right {
  display: flex;
  width: 50%;
  flex-flow: column;
  margin-left: 20px;
}

.student_teacher_profile_right {
  width: 304px;
  /* align-self: flex-start; */
  text-align: left;
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: whitesmoke;
}

.student_teacher_profile_right h2 {
    padding-left: 10px;
}


.student_teacher_profile_text {
    padding-left: 10px;
}

.student_teacher_profile_text h4 {
    color: #999999;
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  
  .student_teacher_profile_text p {
    color: #0a0c12;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
  }


  @media only screen and (min-width : 1440px) {
    .profile_student_container_left {
      width: 68%;
      font-size: 24px;
    }
    .profile_student_left h4 {
      font-size: 14px;
    }
    .profile_student_left p {
      font-size: 18px;
    }
    
    .student_teacher_profile_right {
      width: 30%;
      font-size: 24px;
    }
    .student_teacher_profile_text h4 {
      font-size: 14px;
    }
    .student_teacher_profile_text p {
      font-size: 18px;
    }
  }