.performAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background: url(../../../image/bgmain.png);
    background-size: 100% 100%;
    font-weight: bold;
    /* animation: colorChange 5s infinite alternate; */
  }
  
  
  .performAdd_title {
    display: flex;
    justify-content: flex-start;
    width: 960px;
  }
  
  .performAdd_title h1 {
    font-size: 48px;
    padding-top: 40px;
    align-items: flex-start;
    color: #0d47a1;
  }

 
  .performAdd_header h3:hover {
    color: black;
  }

  .performAdd_header{
    display: flex;
    width: 960px;
    justify-content: flex-start;
    margin-top: 24px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    cursor: pointer;
  }
  .performAdd_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    height: 1002px;
    left: 240px;
    right: 240px;
    top: 180px;
  }


  /* @media only screen and (min-width: 1440px) {
    .perfrom_body {
      height: 100vh;
    }
    .performAdd {
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }
  } */