@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap%27');
  
  .result{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    width: 100vw;
    background: url(../../image/bgmain.png);
    background-size: 100% 100%;
  }

  .result_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    /* margin-left: 50%; */
    /* background-color: darkgoldenrod; */
    
  }
  .result_H{
    display: flex;
    flex-direction: row;
    width: 68%;
    margin-top: 24px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    cursor: pointer;
    /* margin-left: 240px; */
    /* margin-left: 50%; */
    /* background-color: darkgoldenrod; */
    
  }
  
  .result_title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    width: 68%;
    font-size: 36px;
    font-family: 'Inter';
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2) format('woff2');
    margin-top: 40px;
    color: #0D47A1;
    /* background-color:red; */
  }
  
  .result_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 68%;
    margin-top: 24px;
    /* background-color: #e8ebed; */
  }
  .result_student_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    flex: 1;
    width: 218px;
    /* height: 128px; */
  }

  .result_group{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 438px;
    /* height: 128px; */
    
    
    /* background-color: #00ff6a; */
  }

  .result_group p {
    margin-top: 0px;
  }

  
  .result_group_row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 319px;
    /* height: 48px; */
    justify-content: flex-start,
    
  }

  .result_group_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }


  .result_group_text_label{
    color: #0A0C12;
    font-family: 'Inter';
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .result_group_text_highlight{
    color: #0D47A1;
    font-family: 'Inter';
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .result_student_info h1{
    margin-top: 0px;
    font-size: 28px;
    /* background-color: #95e0fd; */
  }
  .result_student_info h3{
    margin-top: 0px;
    font-size: 16px;
    /* background-color: #95e0fd; */
  }

  .result_profile{
    display: flex;
    border:3px solid white;
    border-radius: 67px;
    width: 128px;
    height: 128px;
  }

  .img_profile{
    display: flex;
    position: absolute;
    background-color: #0D47A1;
  }

  .grade_sum{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    /* background-color: #3d3b63; */
    width: 68%;
    gap: 24px;
    justify-content: center;
    /* background-color: #0A0C12; */

  }
  .grade_sum_left{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ffffff;
    width: 304px;
    height: 126px;
    text-align: left;
    /* margin-left: 25px; */
    margin-top: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    /* background-color: rgba(186, 186, 186, 0.322); */
  }

  .grade_sum_right{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 304px;
    height: 126px;
    text-align: right;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: rgba(186, 186, 186, 0.322);
  }





  .grade_text_left{
    display: flex;
    width: 121px;
    height: 24px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    font-family: 'FC Iconic';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #0A0C12;
  }
  

  .grade_text_right{
    display: flex;
    width: 121px;
    height: 24px;
    margin-right: 15px;
    font-family: 'FC Iconic';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #0A0C12;
  }

  .table_data{
    display: flex;
    /* background-color: #3d3b63; */
    width: 68%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
   

  

  .general-table_container table {   
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 16px;
    font-size: 1em;
    color: black;
    overflow: hidden;
    width: auto;
    width: 960px;
    text-align: start;
    margin-top: 56px;
    margin-bottom: 50px;
}

.general-table_container th {
  letter-spacing: 0.3px;
  /* text-shadow: 0 1px 1px #2b2a466b; */
  text-align: center;
}

.general-table_container tr:nth-child(even) {
  background-color: #e8ebed;
  z-index: 20px;
}

.general-table_container td,
.general-table_container th {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 8px 16px 8px 16px;
  text-align: center;
}



  .table_gp{
    display: flex;
    flex-direction: row;
    width: 960px;;
    /* background-color: #95e0fd; */
    gap: 24px;
  }


  .table_gp_container table {   
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 16px;
    font-size: 1em;
    color: black;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    /* width: auto; */
    width: 468px;
    height: 113px;
    text-align: center;
    /* margin-top: 56px; */
    margin-bottom: 50px;
    /* background-color: #0D47A1; */
}

.hello_daddy {
  display: flex;
  width: 93.6px;
  flex-flow: row nowrap;
  /* background-color: red; */
}


.hello_daddy td {
  width: 80px;
  /* background-color: red; */
}



.table_gp_container th {
  letter-spacing: 0.3px;
  display: flex;
  width: 405px;
  /* align-items: center; */
  justify-content: center;
  /* text-shadow: 0 1px 1px #2b2a466b; */
  /* text-align: center; */
  /* background-color: #0A0C12; */
  /* display: flex; */
}

.table_gp_container tr:nth-child(even) {
  background-color: #e8ebed;
}

/* .mother_fucker {
  display: flex;
  flex-direction: row;
} */

.table_gp_container td,
.table_gp_container th {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 8px 16px 8px 16px;
  text-align: center;
}


.table_gpx{
  display: flex;
  flex-direction: row;
  width: 960px;;
  /* background-color: #95e0fd; */
  gap: 24px;
}


.table_gpx_container table {   
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 16px;
  font-size: 1em;
  color: black;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  /* width: auto; */
  width: 468px;
  height: 113px;
  text-align: center;
  /* margin-top: 56px; */
  margin-bottom: 50px;
  /* background-color: #0D47A1; */
}

.gpx_container {
display: flex;
width: 93.6px;
flex-flow: row nowrap;
/* background-color: red; */
}


.gpx_container_section td {
width: 80px;
/* background-color: red; */
}



.table_gpx_container th {
letter-spacing: 0.3px;
display: flex;
width: 405px;
/* align-items: center; */
justify-content: center;
/* text-shadow: 0 1px 1px #2b2a466b; */
/* text-align: center; */
/* background-color: #0A0C12; */
/* display: flex; */
}

.table_gpx_container tr:nth-child(even) {
background-color: #e8ebed;
}

/* .mother_fucker {
display: flex;
flex-direction: row;
} */

.table_gpx_container td,
.table_gpx_container th {
/* border: 1px solid rgba(0, 0, 0, 0.1); */
padding: 8px 16px 8px 16px;
text-align: center;
}





  .select_year{
    display: flex;
    justify-content: flex-end;
    width: 960px;
    margin-bottom: 300px;
    /* margin-top: 16px; */
    position: absolute;
    /* background-color: #95e0fd; */
  }

  .select_year Select {
    width: 80px;
    background-color: #fff;
    border-radius: 8px;
  }
  .select_year h4 {
    margin-right: 8px;
  }

  /* .Table{
    display:flex;
    flex-Direction:row;
    width:475px;
  } */





  .grade{
    display: flex;
    width: 10%;
    font-size: 20px;
    justify-content: baseline;
    align-items: center;
    margin-right: 10px;
    /* height: 100px; */
    flex-direction: column-reverse;
    /* background-color: firebrick; */
  }


  .result-vertical-table{
    margin-top:16px;
    display:flex;
    flex-Direction:column;
    width:68%;
    background-color: #ffffff;
  }

  .vertical_table_cell{
    width: calc(100%);
    width:100%;
    height: 48px;
    border: black 1px solid;
    border-collapse: collapse;
    box-sizing: border-box;
  } 
